@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');


/* ========== START Dark Mode Colors ========== */
:root {
    --primary: #19191d;
    --secondary: #25252b;
    --text: #d8d4cf;
    --blue: #004daa;
    --caption: #e8e6e3;
    --montserrat: 'Montserrat', sans-serif;
    --doneGreen: rgba(0, 128, 0, 0.301);
}

/* ========== END Dark Mode Colors ========== */
/* ========== START CSS Reset ========== */
html {
    box-sizing: border-box;
    font-size: 14px;
    color-scheme: dark;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

ol,
ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}


/* ========== END CSS Reset ========== */


body {
    font-family: var(--montserrat);
    background-color: var(--primary);
    height: 100vh;
    width: 100vw;

    display: flex;
    background-image: url('./bg.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;

}

#sidebar {
    flex: 1;
    background-color: var(--primary);

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    font-family: "Helvetica Neue", Helvetica, Arial, Roboto, sans-serif;
    font-weight: 200;


}

#sidebar>div {
    width: 99%;
    display: flex;
    gap: 16px;
    font-size: 24px;
    align-items: center;
    padding: 12px;
}

#sidebar>div:hover {
    background-color: #25252b;
}

#date-filter {
    display: flex;
    /* gap: 16px */
}

h2 {
    /* border: 1px solid red; */
    width: 100%;
    padding: 12px;
    margin-top: 50px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.243);
}

h3 {
    font-size: 18px;
}

select {
    width: 100%;
    padding: 16px;
    background-color: var(--primary);
    color: var(--text);
    font-size: 16px;
    border-radius: 24px;
    border: 1px solid rgba(255, 255, 255, 0.182);
    appearance: none;

}



.counter {
    font-size: 12px;
    border: 1px solid rgba(255, 255, 255, 0.164);
    width: 25px;
    height: 25px;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--secondary);
}

#main-tasks {
    margin-top: 100px;
}

main {
    flex: 4;


    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;


}


#to-do-container {
    /* flex: 4;  */
    border-radius: 24px;

    padding: 2rem;
    background-color: var(--primary);
    display: flex;
    height: 80%;
    width: 80%;
    margin-top: auto;
    margin: auto;
    margin-bottom: auto;

}

table {
    flex: 1;

    display: flex;
    flex-direction: column;

    font-size: 24px;
}

thead {

    display: block;
    padding: 16px;
    margin-right: 50px;
}

tr {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 60px;
    min-height: 60px;
    margin-right: 10px;


}

td,
th {
    flex: 10;
    display: flex;
    justify-content: center;
    align-items: center;
}

tbody {
    display: flex;
    flex-direction: column;
    gap: 16px;
    height: 60%;

    overflow-y: scroll;
    overflow-x: hidden;
    scroll-behavior: smooth;
    /* --webkit-scrollbar-color: rgba(0, 0, 0, 0); */

}

::-webkit-scrollbar {
    width: 10px;
}


::-webkit-scrollbar-track {
    border-radius: 10px;
    background: #444;
    box-shadow: 0 0 1px 1px #111, inset 0 0 4px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: linear-gradient(left, #3e3e3e, #111, #000);
    box-shadow: inset 0 0 1px 1px #646464;
}

tbody>tr {
    border: 1px solid rgba(0, 0, 0, 0);
    background-color: var(--secondary);
    padding: 16px;
    border-radius: 24px;
}


.checkbox {
    flex: 1;
}


#add-task {

    margin-top: auto;
    padding: 12px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex: 1;
    /* background-color: var(--primary); */
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid var(--secondary);

    position: fixed;
    top: 73%;
    width: 59%;
    height: 10%;

    /* z-index: 1; */


}

#add-task button {
    width: 20px;
    height: 30px;
    padding: 18px;
    border: 1px solid var(--secondary);

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    border-radius: 24px;
    background-color: var(--blue);
}

#add-task button:hover {
    transform: scale(1.05);
}

#add-task button:active {
    transform: scale(0.95);
}

#add-task td {
    width: 100%;
    height: 100%;
}

#button-td {
    flex: 1;
    width: 20px;
}

#add-task input {
    flex: 1;
    display: block;
    /* width: 100%; */
    height: 100%;
    /* padding: 18px; */
    /* border-radius: 24px; */
    border: none;
    background-color: rgba(0, 0, 0, 0);
    font-size: 24px;
    padding: 16px;
    outline: none;
}

#error-placeholder {
    position: fixed;
    font-size: 18px;
    color: white;
    z-index: 2;
    font-weight: 100;
    top: 83%;
    left: 32%;
    color: red;
    font-family: monospace;
}

td.remove {
    display: block;

    flex: 0;
    font-size: 22px;
    color: rgba(255, 255, 255, 0.214);
    outline: none;


}


td.edit {
    display: block;
    flex: 0;
    font: 22px;
    color: rgba(255, 255, 255, 0.214);
    margin-right: 10px;

}

td.edit:hover {
    color: white;
}


/* td.remove:active {
    animation: tracking-in-expand 2s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;

} */

td.remove:hover {
    color: white;
}

input[type="checkbox"] {
    border-radius: 50%;
    width: 1.3em;
    height: 1.3em;
    vertical-align: middle;
    border: 1px solid #ddd;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
}

input[type="checkbox"]:checked {
    background-color: var(--doneGreen);
}





tbody>tr>td:nth-child(2) {
    --width: 320px;
    --max-width: 310px;
    display: block;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: var(--max-width);
    margin-left: calc(var(--width) - var(--max-width));

}


#form-container {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 2;
    /* backdrop-filter: blur(4px); */
    backdrop-filter: brightness(50%);

    display: flex;
    align-items: center;
    justify-content: center;
    display: none;


}


#edit-task-form {
    background-color: var(--primary);
    width: 500px;
    height: 600px;
    border-radius: 18px;

    padding: 20px;
    padding-left: 12px;

    position: relative;
    left: 10%;


}

#name-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
    gap: 16px;
}

#task-name {
    width: 330px;
    height: 24px;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    padding: 24px;
    font-size: 24px;
    outline: none;
    font-family: var(--montserrat);
    padding-left: 12px;


}

#done-button {
    min-width: fit-content;
    color: #0074e0;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    /* height: 100%; */
    font-size: 18px;
}

#done-button:hover {
    color: #0064c2;
}

#done-button:active {
    transform: translateY(1px);
}

#task-name:hover {
    background-color: #000;
}

#task-name:focus {
    background-color: #000;
}

#edit-task-form>h3 {
    color: rgb(162, 162, 162);
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    padding: 8px;
    padding-left: 6px;
    margin-top: 32px;


}

#date-editor {
    width: 100%;
    height: 24px;
    font-size: 24px;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    outline: none;
    padding: 8px;
}

#task-notes {
    resize: none;
    width: 100%;
    height: 100px;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    border-radius: 8px;
    padding: 8px;
    /* padding-left: 12px; */
    font-size: 18px;
    outline: none;
    font-family: Arial, Helvetica, sans-serif;
}

#task-notes:hover {
    background-color: #000;
}

#task-notes:focus {
    background-color: #000;
}

#delete-button {
    margin-top: 64px;
    color: #cc0018;
    width: 100%;
    height: 24px;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

#delete-button:hover {
    color: #b40015;
}

#delete-button:active {
    transform: translateY(1px);
}


@keyframes tracking-in-expand {
    0% {
        letter-spacing: -0.5em;
        opacity: 0;
    }

    40% {
        opacity: 0.6;
    }

    100% {
        opacity: 1;
    }
}

@keyframes scale-out-center {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    100% {
        transform: scale(0);
        opacity: 1;
    }
}

@keyframes slide-out-right {
    0% {
        transform: translateX(0);
        opacity: 1;
    }

    100% {
        transform: translateX(1000px);
        opacity: 0;
    }
}

@keyframes rotate-out-hor {
    0% {
        transform: rotateX(360deg);
        opacity: 1;
    }

    100% {
        transform: rotateX(0deg);
        opacity: 0;
    }
}

@keyframes slide-out-left {
    0% {
        transform: translateX(0);
        opacity: 1;
    }

    100% {
        transform: translateX(-1000px);
        opacity: 0;
    }
}

@keyframes fade-in-top {
    0% {
        transform: translateY(-50px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes fade-out {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  